.footer {
    padding: 8rem 10rem 8.1875rem;
    background-color: var(--grey-100);

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__sub-container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: left;
        margin-bottom: 2rem;
    }

    &__phone {
        margin-bottom: 1rem;
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        transition: all 0.2s;
    }

    &__link:hover {
        color: var(--grey-700);
        scale: 1.03;
    }

    &__copyright {
        display: flex;
        align-items: end;
        justify-content: start;
        max-width: 13rem;
    }
}